@using Ramsay.ViewModels
@using Ramsay.Services.Ramsay.Services.Ramsay.Receipts;
@using X.PagedList
@using X.PagedList.Mvc.Core
@model IEnumerable<Ramsay.ViewModels.Receipt.ReceiptEditViewModel>
@{
    ViewData["Title"] = "Lunch";
}
<h1>Lunch: </h1>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="@item.Image" alt="...">
                <label>Name: @item.Name</label>
                <br />
                <a asp-controller="ReceiptMannager" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
            </div>
        </div>
    }
</div>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Lunch", new { page }))