@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using Ramsay.Models

@inject SignInManager<RamsayUser> SignInManager
@inject UserManager<RamsayUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole("Administrator"))
    {

    <form asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home")" class="navbar-right">
        <ul class="nav navbar-nav">
            

                <li>
                    <a asp-controller="User" asp-action="Userr" title="Manage" class="dropdown-item">Hello Administrator @UserManager.GetUserName(User)!</a>
                </li>
                <li>
                    <a asp-controller="Receipt" asp-action="Receipt">Create</a>
                </li>
                <li>
                    <a asp-area="Identity" asp-controller="Manage" asp-action="Index">Manage</a>
                </li>
                <li>
                    <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
                </li>
          
        </ul>

    </form>

    }
    else
    {
        <form asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home")" class="navbar-right">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a asp-controller="User" asp-action="Userr" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                </li>
                <li>
                    <a asp-controller="Receipt" asp-action="Receipt">Create</a>
                </li>
                <li>
                    <a asp-area="Identity" asp-controller="Manage" asp-action="ChangePassword" >Change Password</a>
                </li>
                <li>
                    <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
                </li>
            </ul>
        </form>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-controller="Account" asp-action="Login">Login</a></li>
    </ul>
}