
@{
    ViewData["Title"] = "Details";
}

<ul>
    <div class="row">
        <div class="col-md-4">
            <label>Name: </label>
            <h4>@ViewData["Name"]</h4>
            </td>
        </div>
    </div>
</ul>

