@model Ramsay.ViewModels.Receipt.ReceiptEditViewModel
@using Ramsay.Models.Enums
@{
    ViewData["Title"] = "Receipt";
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Update Receipt</h1>
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data" >
            <span asp-validation-for="Id" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Ingredients" class="control-label"></label>
                <input asp-for="Ingredients" class="form-control" />
                <span asp-validation-for="Ingredients" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Preparation" class="control-label"></label>
                <input asp-for="Preparation" class="form-control" />
                <span asp-validation-for="Preparation" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Category" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="Category" asp-items="Html.GetEnumSelectList<ReceiptCategory>()">
                        <option selected="selected" value="">Please select Category for your receipt</option>
                    </select>
                    <span asp-validation-for="Category" class="text-danger" />
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-10">
                    <p>Upload one or more files using this form:</p>
                    <input type="file" name="ImageFile" multiple />
                </div>
            </div>   
            <div class="form-group">
                <input type="submit" value="Update Receipt" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


