
@using Ramsay.ViewModels
@using Ramsay.Services.Ramsay.Services.Ramsay.Receipts;
@using X.PagedList
@using X.PagedList.Mvc.Core
@model IEnumerable<Ramsay.ViewModels.Receipt.ReceiptViewModel>
@{
    ViewData["Title"] = "User";
}
<h1>Receipts: </h1>
<ul>
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-4">

                <label>Name: </label>
                <h4>@item.Name</h4>
                <h5> @item.Description</h5>
                <td>

                    <a asp-controller="ReceiptMannager" asp-action="Details" asp-route-name="@item.Name">Details</a> 

                </td>
                <hr />
            </div>
        </div>
    }
</ul>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))